
body {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    color:#333;
    /* background-image: linear-gradient(#002244, #6699cc); */
}


p {
    padding: 10px;
}

#container {
    margin: 0 auto;
    width: 840px;
}

#header {
    text-align: center;
    padding: 15px 0;
}

#zipcode {
    height: 25px;
    padding: 1px 15px;
    text-align: center;
    background-color: white;
}

#button {
    height: 30px;
}

.weather {
    height: 545px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.city {
    text-align: center;
    font-size: 30px;
}

#current-container {
    width: 390px;
    height: 400px;
    float: left;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: #f4f4f4;
    border-radius: 10px;
    /* box-shadow: #5f90c1 1.95px 1.95px 2.6px; */
    box-shadow: #333 0px 1px 4px;
    text-shadow: 1px 1px 1px #33333357;
}

.current {
    padding: 25px;
}

#forecast-container {
    height: 390px;
    width: 410px;
    float: right;
    text-align: center;
    text-shadow: 1px 1px 1px #33333357;
}

.forecast {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 8px;
    padding-top: 3px;
}

.forecast-days {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: #f4f4f4;
    border-radius: 10px;
    padding: 12px;
    box-shadow: #333 0px 1px 4px;
 }

.side-by-side {
    width: 40%;
    float: left;
}

#icon-day_1, #icon-day_2, #icon-day_3, #icon-day_4 {
    height: 45px;
    width: 45px;
}

#temp-left-day_1, #temp-left-day_2, #temp-left-day_3, #temp-left-day_4 {
    text-align: left;
    margin-left: 20px;
}

#temp-left {
    text-align: left;
    margin-left: 20px;
}

#temp-right-day_1, #temp-right-day_2, #temp-right-day_3, #temp-right-day_4, #temp-right {
    text-align: right;
}

.weather-details {
    display: inline-block;
}

#sun {
    display: inline-flex;
    margin-top: 40px;
}

#temp-details {
    padding-left: 45px;
    padding-right: 45px;
}